html {
/*background: url(../images/book1.jpg) no-repeat fixed center center / cover transparent;*/
  background-color: #ffe4c4;
  font-size: 100%;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
h1 {
  margin-left: 45%;
}
input {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
#form {
  height: 22%;
  margin-left: 17%;
  position: absolute;
  width: 60%;
}
#text {
  height: 30%;
  margin-left: 21%;
  position: absolute;
  top: 23%;
  width: 64%;
  font-size: 1.5em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-color: #acacac;
}
#text:hover {
  border-color: #ffa500;
}
#button {
  font-family: helvetica arial;
  font-size: 2em;
  height: 35%;
  margin-left: 35%;
  margin-top: 15%;
  position: absolute;
  width: 29%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #ffa500;
  cursor: pointer;
}
#img_pad {
  margin-left: 30%;
}
h2 {
  margin-left: 30%;
}
#ind_img {
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  margin-left: -36%;
  margin-top: 6%;
  height: 32%;
  width: 88%;
}
#ind_img:hover {
  background: #ffa500;
}
#title_tag {
  color: #000;
  font-size: 2.1em;
  margin-left: 2%;
  margin-top: 0;
  position: absolute;
  text-decoration: none;
}
#main_img {
  margin-left: 30%;
}
#image {
  margin-left: 0%;
  height: 50%;
  width: 20%;
}
#summary {
  position: absolute;
  top: 19%;
  margin-left: 24%;
}
h1 {
  margin-left: 0%;
  font-family: helvetica arial;
  font-size: 1.5em;
  font-style: bold;
}
p {
  font-family: helvetica arial;
  font-size: 1.3em;
  margin-top: 0%;
}
#author {
  position: absolute;
  left: 39%;
}
#head {
  margin-left: 41%;
  font-size: 3em;
  border-radius: 10px;
  width: 20%;
}
#price_text {
  position: absolute;
  top: 55%;
  left: 28%;
}
#flipkart {
  background-color: #ffa500;
  font-family: helvetica arial;
  font-size: 1.5em;
  text-decoration: none;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  color: #000;
  left: 53%;
  position: absolute;
  top: 63%;
}
#price_list {
  margin-left: 27%;
}
#footer {
  margin-top: 37%;
  margin-left: 30%;
  font-size: 1.1em;
}
#author_text {
  margin-left: 21%;
  margin-top: -10%;
}
#result_img_book {
  border-style: solid;
  border-width: 0.1em;
  height: 85%;
  width: 15%;
}
#search_top_text {
  margin-left: 0%;
}
#store_id {
  background-color: #ffa500;
  font-family: helvetica arial;
  font-size: 1.5em;
  text-decoration: none;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  color: #000;
}
